{
	admin off
}

richymaju.my.id {
	@websockets path /app/*
	handle @websockets {
		reverse_proxy reverb:8080
	}

	handle {
		reverse_proxy laravel:80
		encode zstd gzip
	}
}

wa.richymaju.my.id {
	reverse_proxy waha:3000
	encode zstd gzip
}

db.richymaju.my.id {
	reverse_proxy phpmyadmin_richymaju:80 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
	encode zstd gzip
}
